.profile-page-container {
    min-height: 100vh;
    padding: 20vh;
}

.user-info-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile-photo{
    width: 17.5rem;
    height: 28rem;
}
.profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    font-family: var(--body-text);
}

.user-info h2 {
    font-family: var(--title-text);
    font-size: 3rem;
}

.user-info p:nth-of-type(2) {
    font-size: 1.5rem;
}

.user-info a {
    font-size: 2rem;
    padding: 0 1rem;
    background: var(--text-color);
    text-decoration: none;
    color: var(--background-color);
    margin-top: 1rem;
    display: inline-block;
}

.user-save-option-container {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

.user-save-option-container span {
    border: 1px solid var(--text-color);
    padding: 0 2rem;
    font-family: var(--body-text);
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.user-save-option-container span.active {
    color: var(--background-color);
    background: var(--text-color);
}

.user-save-container {
    width: 100%;
    padding-top: 2rem;
    min-height: 50vh;
}

.user-save-container p {
    font-family: var(--body-text);
    font-size: 2.5rem;
    border-bottom: 1px solid var(--text-color);
}

.user-save-container .user-saves {
    position: relative;
}

.user-save-container .user-saves > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.user-save-container .user-saves > .active{
    opacity: 1;
    pointer-events: unset;
}