.books-page-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    position: relative;
    display: flex;
}

.container-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container-background.active {
    z-index: 1000;
    transition: background-color 0.6s ease;
}

.categories-container,
.tags-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 90%;

    max-width: 800px;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
    padding: 3rem;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    align-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.categories-container.active,
.tags-container.active {
    opacity: 1;
    pointer-events: all;
}

.categories-container-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
    z-index: 101;
    font-weight: bold;
}

.categories-container a,
.tags-container span {
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    padding: 0.5rem 1rem;
    height: 4rem;
    font-family: var(--body-text);
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: 1px solid var(--text-color);
    transition: all 0.3s linear;
    cursor: pointer;
}

.categories-container a:hover,
.tags-container span:hover,
.tags-container span.selected {
    background: var(--text-color);
    color: var(--background-color);
}

.filter-option-container {
    width: 30%;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    font-family: var(--body-text);
    padding: 0 4%;
}

@keyframes comeFromLeft {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#selected-tags-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

@keyframes showSlow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#selected-tags-container > span {
    font-size: 1.5rem;
    position: relative;
    padding: 0.5rem 1rem;
    animation: showSlow 0.3s linear forwards;
}

#selected-tags-container > span:hover {
    background: var(--background-color);
    color: var(--text-color);
}

#selected-tags-container > span > b {

    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 15px;
    background: var(--text-color);
    color: var(--background-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-option-container > * {
    animation: comeFromLeft 0.7s linear forwards;
    opacity: 0;
    animation-delay: calc(var(--i) * 0.05s);
}

.filter-option-container form {
    width: 100%;
}

.filter-option-container form input {
    background: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 2rem;

    padding-left: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;

}

.filter-option-container .customize-title {
    font-size: 6rem;
    animation: unset;
    opacity: 1;

}

.filter-option-container > p {

    font-size: 2rem;
    position: relative;
    display: inline;
    width: 100px;
    cursor: pointer;
}

.filter-option-container > p:after {
    content: ">>";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

#tags-sections {
    margin-top: 2rem;
}

#tags-sections:after {
    right: 30px;
}

#tags-sections:hover:after {
    right: 20px;
}

.filter-option-container > p:hover:after {
    right: -20px;
}

.filter-option-container > div {
    font-size: 2rem;
    margin-top: 3rem;
}

.filter-option-container > div p {
    border-bottom: 1px solid var(--text-color);
}

.filter-option-container > div div {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.filter-option-container > div span {
    border: 1px solid var(--text-color);
    padding: 0 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.filter-option-container > div span:hover,
.filter-option-container > div span.selected {
    color: var(--background-color);
    background: var(--text-color);
}

.list-book-style {
    display: flex;
    gap: 1rem;
}

.list-book-style svg {
    cursor: pointer;
}


.books-container {
    width: 70%;
    margin-left: auto;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    animation: none;
    transition: all 0.6s ease;
    opacity: 1;
}

.books-container.hidden {
    opacity: 0;
}

.books-container.hidden .list-book-container {
    /*display: none;*/
}

.list-book-container {
    width: 90%;
    max-height: 30rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    animation: comeFromBottom 0.7s linear forwards;
    opacity: 0;
    animation-delay: calc(var(--i) * 0.15s);
}

.list-book-container .list-book-text {
    width: 70%;
}

.list-book-container .list-book-text h2 {
    font-size: 2.5rem;
    font-family: var(--title-text);
}

.list-book-container .list-book-text h2 a {
    text-decoration: none;
}

.list-book-container .list-book-text p {
    font-family: var(--body-text);
    font-size: 2rem;
}

.list-book-container .list-book-cover {

    width: 13vw;
    height: 20vw;
}

.list-book-container .list-book-cover a {
    display: block;
    width: 100%;
    height: 100%;
}

.list-book-container .list-book-cover a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.books-container.block {

    opacity: 1;
}

@keyframes comeFromBottom {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.books-container.block .list-book-container {
    width: 15rem;
    height: 30rem;
    max-height: 30rem;
    flex-direction: column-reverse;
    margin: 0;
}

.books-container.block .list-book-container .list-book-cover {
    width: 100%;
    max-height: 30rem;
    flex: auto;
}

.books-container.block .list-book-container .list-book-text {
    width: 100%;
}

.books-container.block .list-book-container .list-book-text h2 {
    font-size: 1.5rem;
    font-family: var(--title-text);
    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden; /* Hides overflowing text */
    text-overflow: ellipsis;
}

.books-container.block .list-book-container .list-book-text p {
    font-size: 1.5rem;
    width: 100%;
    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden; /* Hides overflowing text */
    text-overflow: ellipsis;
}

.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.books-container.block .tags {
    display: none;
}

.tag {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--text-color);
    /*cursor: pointer;*/
    transition: all 0.3s linear;
}