.book-page-container {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-info-container {
    display: flex;
    gap: 3rem;
}
@keyframes comeFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.book-cover {
    width: 17.5rem;
    height: 28rem;
    animation: comeFromLeft 0.5s ease forwards;
}

.book-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    width: 67%;
}
@keyframes comeFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.book-info>* {
    opacity: 0;
    animation: comeFromRight 0.5s ease forwards;
    animation-delay: calc(var(--i) * 0.05s);

}
.book-info h1 {
    font-size: 3rem;
}

.book-info a {
    text-decoration: none;
}

.book-info > a {
    font-family: var(--body-text);
    font-size: 1.5rem;
}

.book-info p {
    font-family: var(--body-text);
    font-size: 1.7rem;
    max-width: 550px;
}

.book-info > p {
    margin-bottom: 2rem;
}

.type-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.type-container > div {
    width: 50%;
}

.book-info > div p {
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 1rem;
}

.book-info > div > div a {
    padding: 0.25rem 1rem;
    border: 1px solid var(--text-color);
    margin-right: 1rem;
}

.tag-container {
    margin-bottom: 2rem;

}

.tag-options {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
    max-width: 500px;
}

.tag-option {
    height: 27px;
    padding: 0.25rem 1rem;
    border: 1px solid var(--text-color);

    cursor: pointer;
}

.tag-option.selected {
    background: var(--text-color);
    color: var(--background-color);
}

.tag-vote-container {
    margin-top: 1rem;
    display: flex;
    overflow: hidden;
    transition: all 0.5s ease;

}
.add-tag-form{
display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

}
.add-tag-form input{
    height: 27px;
    width: 5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.add-tag-form button{
    height: 27px;
    font-size: 1.25rem;
    padding: 0.15rem 1rem;
}
.add-options{
    height: 27px;
    width: 27px;
    display: inline-flex;
    padding-bottom: 0.25rem ;

    border: 1px solid var(--text-color);
    cursor: pointer;
    text-align: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.tag-vote {
    padding: 0.25rem 1rem;
    border: 1px solid var(--text-color);
    margin-right: 1rem;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;

}

.read-book-btn {
    padding: 0.25rem 1rem;
    color: var(--background-color);
    background: var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
    cursor: pointer;
}

.add-to-bookshelf-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.add-to-bookshelf-btn svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    transition: fill 0.3s ease;
}
@keyframes comeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.comments-container {
    width: 100%;
    max-width: 850px;
    animation: comeFromBottom 0.5s ease forwards;
}

.comments-container > h1 {
    margin-top: 2rem;

    border-bottom: 1px solid var(--text-color);
    font-family: var(--body-text);
    font-size: 3rem;
}

.new-comment-container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 1rem;

}

.new-comment-textarea {

    width: 100%;
    /*height: 100px;*/
    background: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.comment-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    gap: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--text-color);
}

.comment-user-profile {
    width: 50px;

}

.comment-user-profile img {
    width: 100%;


}

.comment-info {
    flex-grow: 1;
}

.comment-info h5 {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.comment-info p {


}

.time-container {
    margin-left: auto;
}

.time-container p {
    /*font-size: 0.8rem;*/
    color: var(--text-color);
    font-family: var(--body-text);

}
.no-comments{
    font-family: var(--body-text);
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}