.book-page-container {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-info-container {
    display: flex;
    gap: 3rem;
}

.book-cover {
    width: 17.5rem;
    height: 28rem;
}

.book-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    width: 67%;
}

.book-info h1 {
    font-size: 3rem;
}

.book-info a {
    text-decoration: none;
}

.book-info > a {
    font-family: var(--body-text);
    font-size: 1.5rem;
}

.book-info p {
    font-family: var(--body-text);
    font-size: 1.7rem;
}

.book-info > p {
    margin-bottom: 2rem;
}

.type-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.type-container > div {
    width: 50%;
}

.book-info > div p {
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 1rem;
}

.book-info > div > div a {
    padding: 0.25rem 1rem;
    border: 1px solid var(--text-color);
    margin-right: 1rem;
}

.tag-container {
    margin-bottom: 2rem;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.read-book-btn {
    padding: 0.25rem 1rem;
    color: var(--background-color);
    background: var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
    cursor: pointer;
}

.add-to-bookshelf-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.add-to-bookshelf-btn svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    transition: fill 0.3s ease;
}

.comments-container {
    width: 100%;
    max-width: 850px;
}

.comments-container > h1 {
    margin-top: 2rem;

    border-bottom: 1px solid var(--text-color);
    font-family: var(--body-text);
    font-size: 3rem;
}

.comment-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    gap: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--text-color);
}

.comment-user-profile {
    width: 50px;

}

.comment-user-profile img {
    width: 100%;


}

.comment-info {
    flex-grow: 1;
}

.comment-info h5 {
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.comment-info p {


}

.time-container {
    margin-left: auto;
}
.time-container p{
    /*font-size: 0.8rem;*/
    color: var(--text-color);
    font-family: var(--body-text);

}