.book-page-container {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-info-container {
    display: flex;
    gap: 3rem;
}

.book-cover {
    width: 17.5rem;
    height: 28rem;
}

.book-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    width: 67%;
}

.book-info h1 {
    font-size: 3rem;
}

.book-info a {
    text-decoration: none;
}

.book-info > a {
    font-family: var(--body-text);
    font-size: 1.5rem;
}

.book-info p {
    font-family: var(--body-text);
    font-size: 1.7rem;
}
.book-info>p{
    margin-bottom: 2rem;
}
.type-container{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.type-container>div{
    width: 50%;
}
.book-info>div p{
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 1rem;
}
.book-info>div>div a{
    padding: 0.25rem 1rem;
    border: 1px solid var(--text-color);
    margin-right: 1rem;
}
.tag-container{
    margin-bottom: 2rem;
}
.add-to-bookshelf{
    padding: 0.25rem 1rem;
    color: var(--background-color);
    background: var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
    cursor: pointer;
}