.contact-container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.contact-container .customize-title {
    font-size: 12rem;
    font-family: var(--body-text);
}

.text-container {

}

.text-container p {
    font-size: 2rem;
    font-family: var(--body-text);
}

.form-container {
    width: 50%;
    min-width: 500px;
}

@keyframes formAnimation {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
    transform: translateY(0);
        opacity: 1;
    }

}

.form-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: formAnimation 0.7s linear;
}

.form-container form label {
    color: var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
}

.form-container form input,
.form-container form textarea {
    background: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;

}

.form-container form textarea {
    min-height: 200px;
}