.home-section-links {
    position: fixed;
    bottom: 1rem;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
    list-style: none;
    z-index: 999;
}

.home-section-links li {
    width: 50px;
    height: 50px;
    border: 2px solid var(--background-color);

    border-radius: 50%;
    transition: all 0.5s ease;
}

.home-section-links li:hover {

    border: 2px solid var(--text-color);

}

.home-section-links li a {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.home-section-links li a svg {
    width: 60%;
    height: 60%;
}