.login-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
@keyframes showSlow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
.login-main *{
    animation: showSlow 0.5s ease;
}
.login-main form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    padding: 2rem;
    position: relative;
    width: 90%;
    max-width: 400px;

}


.login-main form label {
    color: var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
}

.login-main form input {
    background: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;

}

.login-main form button {
    padding: 0.25rem 1rem;
    color: var(--background-color);
    background: var(--text-color);
    font-size: 2rem;
    font-family: var(--body-text);
    cursor: pointer;
}

.login-main .logo-tag {
    width: 50px;
}
.login-main span{
    font-size: 2rem;
    font-family: var(--body-text);
    margin-left: 0.25rem;
}
.login-main >div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 400px;
}
.login-main a{
    text-decoration: none;
    position: relative;
}
.login-main a:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    left: 50%;
    transition: all 0.3s ease;
    background: var(--text-color);
}
.login-main a:hover:after{
    width: 100%;
    left: 0;
}