.profile-page-container {
    min-height: 100vh;
    padding: 20vh;
}

.user-info-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@keyframes showFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.profile-photo {
    animation: showFromLeft 1s ease forwards;

    width: 17.5rem;
    height: 28rem;

}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes showFromRight {
    0% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.user-info {
    animation: showFromRight 1s ease forwards;
    font-family: var(--body-text);
}

.user-info h2 {
    font-family: var(--title-text);
    font-size: 3rem;
}

.user-info p:nth-of-type(2) {
    font-size: 1.5rem;
}

.user-info a {
    font-size: 2rem;
    padding: 0 1rem;
    background: var(--text-color);
    text-decoration: none;
    color: var(--background-color);
    margin-top: 1rem;
    display: inline-block;
}

.user-save-option-container {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

@keyframes showFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.user-save-option-container span {
    border: 1px solid var(--text-color);
    padding: 0 2rem;
    font-family: var(--body-text);
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s linear;
    opacity: 0;
    animation: showFromBottom 1s ease forwards;
}

.user-save-option-container span:nth-of-type(1) {
    animation-delay: 0s;
}

.user-save-option-container span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.user-save-option-container span:nth-of-type(3) {
    animation-delay: 0.4s;
}

.user-save-option-container span.active {
    color: var(--background-color);
    background: var(--text-color);
}

.user-save-container {
    width: 100%;
    padding-top: 2rem;
    min-height: 50vh;
}

.user-save-container p {
    font-family: var(--body-text);
    font-size: 2.5rem;
    border-bottom: 1px solid var(--text-color);
}

.user-save-container .user-saves {
    position: relative;
}

.user-save-container .user-saves > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.user-save-container .user-saves > .active {
    opacity: 1;
    pointer-events: unset;
}