.most-read-section {
    min-height: 100vh;
    padding-bottom: 3vw;
}

.most-read-section h2 {
    width: 80%;
    margin: auto auto 5rem auto;
    font-family: var(--body-text);
    font-size: 5vw;
    position: relative;
}

.most-read-section h2::after {
    content: "";
    width: 40%;
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    background: var(--text-color);
}

.most-read-books-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    width: 100%;
}

.most-read-books-container > div:nth-of-type(odd) {
    max-width: 1000px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

.most-read-books-container > div:nth-of-type(even) {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    max-width: 1000px;
}

.book-card a {
    transform-style: preserve-3d;
    transform: rotateY(0) rotateX(0);
    transition: all 0.3s ease;
    width: 15vw;
    height: 24vw;

}

.book-cover-background {
    width: 15vw;
    height: 24vw;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
    z-index: 1;
}

.book-card a img {
    width: 100%;
}

.book-cover-background img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(20px);
}

.book-cover-background svg {
    position: absolute;
}

.book-cover-background .book-left {

    width: 15vw;
    height: 100%;
    transform: rotateY(270deg) translateZ(7.5vw) translateX(-10px);
}

.book-cover-background .book-right {
    width: 15vw;
    height: 100%;
    transform: rotateY(90deg) translateZ(7.5vw) translateX(10px);
}

.book-cover-background .book-top {
    width: 15vw;
    height: 24vw;
    transform: rotateX(90deg) translateZ(12vw) translateY(-10px);
}

.book-cover-background .book-bottom {
    width: 15vw;
    height: 24vw;
    transform: rotateX(270deg) rotateZ(0deg) translateZ(12vw) translateY(10px);
}

.book-card h4 {
    position: absolute;
    bottom: -3vw;
    font-size: 2vw;
    font-family: var(--body-text);
}