.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes containerOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    width: 35vw;

    text-align: center;
    font-family: var(--title-text);
    animation: containerOpen 1s ease forwards;
    z-index: 3;

}

.container h1 {
    z-index: 0;
}


.container h1:nth-of-type(1) {
    font-size: 5vw;
}

.container h1:nth-of-type(2) {
    font-size: 2.7vw;
}

.container h1:nth-of-type(3) {
    font-size: 2.2vw;
}

.container > a:nth-of-type(1) {

    font-size: 5vw;
}


.container > a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 3.3vw;
}

.container > a:nth-of-type(2) {
    padding-right: 0.5vw;
}

.container > a:nth-of-type(3) {
    padding-left: 0.5vw;
}


.container a:hover ~ .title-link-background {

    opacity: 0.8;
}


.container a span {
    display: inline-block;
    transform: translateY(0) rotate(0);
    transition: all 0.5s ease;
}

.title-link-background {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;

    background: var(--background-color);
    transition: all 0.5s ease;
    pointer-events: none;

}

.book-container {
    position: relative;
    width: 15vw;
    height: 24vw;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

@keyframes smoothFromLeft {
    from {
        opacity: 0;
        transform: translateX(-10vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.book-container:nth-of-type(1) {
    animation: smoothFromLeft 1s ease forwards;

}

@keyframes smoothFromRight {
    from {
        opacity: 0;
        transform: translateX(10vw);
    }
    to {
        opacity: 1;
        transform: translateX(0vw);
    }
}

.book-container:nth-of-type(2) {
    animation: smoothFromRight 1s ease forwards;

}

.book-container .book-info {
    opacity: 0;
    transform: translateX(0vw);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.book-container:nth-of-type(1):hover .book-info {
    opacity: 1;
    transform: translateX(10vw);
}

.book-container:nth-of-type(2):hover .book-info {
    opacity: 1;
    transform: translateX(-10vw);
}

.book {
    width: 15vw;
    height: 24vw;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(0deg) rotateX(0deg);
    transition: all 0.5s ease;
    z-index: 1;
}

.book-container:nth-of-type(1) .book .book-right {
    opacity: 0;
}

.book-container:nth-of-type(1):hover .book {
    transform: rotateY(20deg) rotateX(0deg) translateZ(-10vw) scale(0.7);

}

.book-container:nth-of-type(2):hover .book {
    transform: rotateY(-20deg) rotateX(0deg) translateZ(-10vw) scale(0.7);
}

.book img {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateZ(20px);
}

.book svg {
    position: absolute;
}

.book .book-left {

    width: 15vw;
    height: 100%;
    transform: rotateY(270deg) translateZ(7.5vw);
}

.book .book-right {
    width: 15vw;
    height: 100%;
    transform: rotateY(90deg) translateZ(7.5vw);
}

.book .book-top {
    width: 15vw;
    height: 24vw;
    transform: rotateX(90deg) translateZ(12vw);
}

.book .book-bottom {
    width: 15vw;
    height: 24vw;
    transform: rotateX(270deg) rotateZ(0deg) translateZ(12vw);
}
