#admin-books-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin:auto;
    max-width: 1300px;
}
#admin-books-page-container .filter-option-container{
    position: unset;
    width: 100%;
    margin-bottom: 2rem;
}
#admin-books-page-container .filter-option-container > div>div {
    display: block;
    width: 49%;
}
#admin-books-page-container .section-container{
  display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.type-options,.sort-options{
    width: 100%;
    display: flex;
    gap : 1rem;
}

.section-container .list-book-style svg{
    margin-right: 1rem;
}
#admin-books-page-container #tags-sections {

    margin-top: 1rem;
     position: relative;
     display: inline;
     width: 60px;
     cursor: pointer;
    border-bottom: none;
 }

#admin-books-page-container #tags-sections:after {
    content: ">>";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
#admin-books-page-container #tags-sections:hover:after {
    right: -20px;
}
#admin-books-page-container .books-container{
    width: 100%;
    padding: 0;
    justify-content: center;
}


