.orders-page-container {
    padding-top: 100px;
    width: 90%;
    margin: auto;
    max-width: 1300px;
}

.order-search-form {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;
}

.order-search-form input[type="text"] {
    background: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 2rem;
    padding-left: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.orders-line-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 250px;
    justify-content: center;
}

.orders-line-container div {
    /*width: 24%;*/
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid var(--text-color);
}

.orders-page-container > p {
    margin: 2rem 0;
    font-size: 2rem;
    font-family: var(--body-text);
    border-bottom: 1px solid var(--text-color);
}

.order-item {
    width: 100%;
    padding: 0 1rem;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    /*background: #e6e5e5;*/
    cursor: pointer;

}

.order-summary div {
    display: flex;
    gap: 1rem;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid gray;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.triangle.active {
    transform: rotate(180deg);
}