.users-page-container {
    padding-top: 100px;
    width: 90%;
    margin: auto;
    max-width: 1300px;
}

.user-search-form {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;
    position: relative;
}

.user-search-form svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
}

.user-search-form input[type="text"] {
    background: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 2rem;
    padding-left: 0.5rem;
    width: 100%;
    padding-right: 35px;
    margin-bottom: 0;
}

.users-page-container > p {
    margin: 2rem 0;
    font-size: 2rem;
    font-family: var(--body-text);
    border-bottom: 1px solid var(--text-color);
}
.user-item{
    display: flex;
    border-bottom: 1px solid var(--text-color);
    padding: 0 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.user-item div{
    display: flex;
    gap: 1rem;
}
.order_id{
    min-width: 30px;
}
.user-name{
    min-width: 100px;
}
.user-role{
    min-width: 80px;
    text-align: center;
    border: 1px solid var(--text-color);
    border-bottom: 0;
    padding: 0.2rem 0.5rem;
}
.user-role.ADMIN{
    color: var(--background-color);
    background: var(--text-color);
}
.user-role.USER{
    color: var(--text-color);
    background: var(--background-color);
}