.users-page-container {
    padding-top: 100px;
    width: 90%;
    margin: auto;
    max-width: 1300px;
}

.user-search-form {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;
    position: relative;
}

.user-search-form svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
}

.user-search-form input[type="text"] {
    background: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 2rem;
    padding-left: 0.5rem;
    width: 100%;
    padding-right: 35px;
    margin-bottom: 0;
}

.users-page-container > p {
    margin: 2rem 0;
    font-size: 2rem;
    font-family: var(--body-text);
    border-bottom: 1px solid var(--text-color);
}
