.intro-section {
    width: 100%;
    height: 80vh;
    z-index: 0;
}

.intro-container {
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 15vw;
}

.home-logo-container {
    width: 15vw;
    max-width: 350px;
    height: 175vw;
    margin: -400px auto auto auto;
    position: absolute;
    left: calc(50% - 7.5vw);
    z-index: 0;
}

.home-logo {

    position: sticky;
    top: calc(50vh - 10vw);
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.home-logo.active {
    transition: scale 0.3s ease-in-out;
    scale: 0.5;
}


.intro-text-left,
.intro-text-right {
    width: 30%;


}

.intro-text-left h2,
.intro-text-right h2 {
    font-family: var(--body-text);
    font-size: 6vw;
    font-weight: normal;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #A39E9E;
}

.intro-text-left span,
.intro-text-right span {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
}

.intro-container div p {
    font-size: 1.3vw;
}

.intro-container div p:nth-of-type(2) {
    margin-top: 1rem;
    font-family: var(--body-text);
    font-size: 1.3vw;
}

.intro-text-right p {
    margin-top: 2rem;
    margin-left: -5vw;
    animation: smoothFromRight 0.5s ease;
}

.intro-text-left p {
    animation: smoothFromLeft 0.5s ease;
}

.intro-text-right h2 {
    margin-left: 1rem;
    margin-top: 3rem;
}