.app {
    background-color: var(--background-color);
    color: var(--text-color);
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*min-height: 200vh;*/
    /*overflow-x: hidden;*/
    transition: all 0.7s ease-in-out;
}
main{
    position: relative;
    z-index: 1;
}
/*@keyframes comeFromBottom {*/
/*    from {*/
/*        transform: translateY(100%);*/
/*    }*/
/*    to {*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

.customize-title {
    overflow: hidden;

}

.customize-title span {
    display: inline-block;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
}

.customize-title.visible span {
    transform: translateY(0);
    transition-delay: calc(var(--i) * 0.05s);
}


.animated-background {
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    right: 0;
    background: var(--second-color);
    transform: rotateZ(0deg);
    transition: all 1s ease;
}
.animated-background.books{
    width: 70%;
    height: 200%;
}
.animated-background.about{
    top: -100%;
    height: 300%;
    width: 70%;
    right: -30%;
    transform: rotateZ(-45deg);
}
.animated-background.contact{
    top: -35%;
    height: 300%;
    width: 70%;
    right: -10%;
    transform: rotateZ(45deg);
}
.animated-background.profile{
    width: 30%;
}
.animated-background.order{
    width: 50%;
}