@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo/static/Archivo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alumni Sans';
  src: url('./assets/fonts/Alumni_Sans/static/AlumniSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --background-color:#000000;
  --second-color:#121212;
  --text-color:#ffffff;
  --title-text:Archivo, sans-serif;
  --body-text: 'Alumni Sans', sans-serif;
}
.light-theme{
  --background-color:#ffffff;
  --second-color:#f0f0f0;
  --text-color:#000000;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color:var(--text-color);
  transition: all 0.1s ease;
}
html {
  scroll-behavior: smooth;
}
body{
  height: auto;
  overflow-x: hidden;
  background: var(--background-color);
}